<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlineorder.onlineordersystem.model.dao.AdminMapper">
    <resultMap id="UserInfo" type="com.onlineorder.onlineordersystem.model.pojo.Admin">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="adminname" jdbcType="VARCHAR" property="adminname" />
        <result column="adminpwd" jdbcType="VARCHAR" property="adminpwd" />
    </resultMap>
    <resultMap id="OrderInfo" type="com.onlineorder.onlineordersystem.model.pojo.Order">
        <id column="order_id" jdbcType="INTEGER" property="order_id" />
        <result column="dish_name" jdbcType="VARCHAR" property="dish_name" />
        <result column="total_price" jdbcType="INTEGER" property="total_price" />
        <result column="number" jdbcType="INTEGER" property="number" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="orderTime" jdbcType="TIMESTAMP" property="orderTime" />
        <result column="status" jdbcType="TINYINT" property="status" />
    </resultMap>
    <resultMap id="StockInfo" type="com.onlineorder.onlineordersystem.model.pojo.Stock">
        <id column="material_id" jdbcType="INTEGER" property="material_id" />
        <result column="material" jdbcType="VARCHAR" property="material" />
        <result column="mat_cat" jdbcType="VARCHAR" property="mat_cat" />
        <result column="mat_num" jdbcType="VARCHAR" property="mat_num" />
        <result column="mat_minnum" jdbcType="VARCHAR" property="mat_minnum" />
    </resultMap>
    <!--    登录、获取用户信息-->
    <select id="login" parameterType="java.lang.String" resultType="com.onlineorder.onlineordersystem.model.pojo.Admin">
        select * from admin a
        <where>
            a.adminname = #{username,jdbcType=VARCHAR}
        </where>
    </select>

<!--    获取库存功能-->
    <select id="getStock" resultMap="StockInfo">
        select * from stock
    </select>

<!--    库存增加功能-->
    <update id="addStock" parameterType="java.util.HashMap">
        UPDATE stock
        SET mat_num = mat_num + #{number}
        WHERE material = #{materialName,jdbcType=VARCHAR}
    </update>

<!--    获取用户订单-->
    <select id="getUserOrders" resultMap="OrderInfo">
        select * from orders;
    </select>

<!--    管理员处理用户订单-->
    <update id="dealUserOrder" parameterType="java.lang.Integer">
        update orders
        set status = 1
        where orderId = #{order_id,jdbcType=INTEGER}
    </update>
</mapper>