<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.onlineorder.onlineordersystem.model.dao.UserMapper">
    <resultMap id="UserInfo" type="com.onlineorder.onlineordersystem.model.pojo.User">
        <id column="id" jdbcType="INTEGER" property="id" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="password" jdbcType="VARCHAR" property="password" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="phone" jdbcType="VARCHAR" property="phone" />
    </resultMap>
    <resultMap id="HistoryOrderInfo" type="com.onlineorder.onlineordersystem.model.pojo.HistoryOrder">
        <id column="order_id" jdbcType="INTEGER" property="order_id" />
        <result column="dish_name" jdbcType="VARCHAR" property="dish_name" />
        <result column="total_price" jdbcType="INTEGER" property="total_price" />
        <result column="number" jdbcType="INTEGER" property="number" />
        <result column="username" jdbcType="VARCHAR" property="username" />
        <result column="orderTime" jdbcType="TIMESTAMP" property="orderTime" />
    </resultMap>
<!--    登录、获取用户信息-->
    <select id="getUserByUsername" parameterType="java.lang.String" resultType="com.onlineorder.onlineordersystem.model.pojo.User">
        select * from user u
        <where>
            u.username = #{username,jdbcType=VARCHAR}
        </where>
    </select>

<!--    注册-->
    <insert id="insertUser" parameterType="com.onlineorder.onlineordersystem.model.pojo.User">
        insert into user (username,password,email,phone)
        VALUES (#{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR})
    </insert>

<!--    修改用户信息-->
    <update id="updateUserInfo" parameterType="com.onlineorder.onlineordersystem.model.pojo.User">
        UPDATE user
        <set>
            <if test="username != null and username != ''">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="password != null and password != ''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE username = #{username,jdbcType=VARCHAR}
    </update>

<!--    获取所有用户信息-->
    <select id="getAllUserInfo" resultMap="UserInfo">
        select * from user;
    </select>

<!--    获取历史订单信息-->
    <select id="getHistoryOrder" parameterType="java.lang.String" resultMap="HistoryOrderInfo">
        select * from history_order ho
        WHERE ho.username = #{username,jdbcType=VARCHAR}
    </select>

<!--    删除用户-->
    <delete id="deleteUser" parameterType="java.lang.String">
        DELETE FROM user
        WHERE username = #{username,jdbcType=VARCHAR}
    </delete>

<!--    发送订单信息-->
    <insert id="sendOrder" parameterType="com.onlineorder.onlineordersystem.model.pojo.Order">
        INSERT INTO order (dishName,totalPrice,number,userId,username,orderTime,status)
        VALUES (#{dishName,jdbcType=VARCHAR},#{totalPrice,jdbcType=VARCHAR},#{number,jdbcType=INTEGER},#{userId,jdbcType=INTEGER},#{username,jdbcType=VARCHAR},#{orderTime,jdbcType=DATE},#{status,jdbcType=TINYINT})
    </insert>

<!--    库存按人数减少-->
    <update id="reduceStock" parameterType="java.lang.Integer">
        UPDATE stock
        SET mat_num = mat_num - #{number}
    </update>
</mapper>